/* Poppins google font (used for heading 1)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Mukta google font (used for p tags)*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    position: relative;
}

/* Primary classes */
/* Button */
.btn {
    display: block;
    width: fit-content;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);
    color: rgb(228, 222, 222);
    text-decoration: none;
    padding: 15px 35px;
    margin: 5% 0;
}

/* Header title */
h1 {
    font-size: 50px;
    color: rgb(64, 63, 63);
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 40px;
    color: rgb(51, 50, 50);
    font-family: 'Poppins', sans-serif;
}

/* p tag articles */
.article-text {
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
}
/* Primary classes end */


/* Page header part */
.top-banner {
    width: 100%;
    height: 600px;
    background-image: url(images/top-header-bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-banner article {
    width: 45%;
    padding-left: 4%;
    margin-top: 10%;
}

.top-header-container {
    width: 100%;
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.top-header-content {
    margin: 0;
    padding: 1%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

}

.top-header-container>img {
    display: block;
    width: 8%;
}

.top-header-content img {
    display: inline-block;
}

#first-nav-child {
    border-bottom: 2px solid black;
}

.top-header-content li {
    list-style-type: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.top-header-content li:hover {
    border-bottom: 2px solid black;
}

.top-header-content li a {
    display: block;
    text-decoration: none;
    color: #2e2e2ea0;
    font-size: 14px;
}

/* Main section starts */

/* Product categories section */
.product-categories-section {
    margin: 10% auto;
}

.title-part {
    width: 45%;
    text-align: center;
    margin: auto;
}

.categories-container {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.categories-card {
    display: block;
    width: 30%;
    box-shadow: 2px 3px 10px gray;
}

/* Button division */
.category-button {
    display: flex;
    justify-content: space-around;
}

.category-button a {
    margin: 0;
    position: relative;
    bottom: 20px;
    width: 10%;
    text-align: center;
}

/* Most liked section */
.most-liked-product-section{
    margin: 10% auto;
    display: flex;
    justify-content: space-around;
    gap: 7%;
}
.our-story{
    display: block;
    width: 40%;
}

/* Inspirational gallery section */
.inspirational-gallery-section{
    margin-bottom: 10%;
    text-align: center;
}
.img-gallery-container img{
    display: block;
}
.img-gallery-container{
    display: flex;
    justify-content: center;
    gap: 1.5%;
}
.img-gallery-element{
    box-shadow: 2px 3px 8px gray;
    border-radius: 5px;
}
.inspirational-gallery-section a{
    margin: 5% auto;
}

/* Main section ends here */

/* Footer part starts */
footer{
    background-color: rgb(39, 39, 40);
    color: white;
    padding: 2%;
    text-align: center;
}